<template>
  <div class="main-content">
    <div class="container">
      <div class="content-block">
        <h1>Контакты</h1>
        <p>
          По всем имеющимся вопросам, обращайтесь по адресу
          <a href="mailto:support@cosmiclife.ru?subject=Вопросы по Игре">
            support@cosmiclife.ru
          </a>
        </p>
        <p>
          С уважением, Золотарев Александр
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Contancts',
  metaInfo() {
    return {
      title: 'Cosmic Life',
      titleTemplate: '%s | Контакты',
      meta: [
        {
          vmid: 'description',
          name: 'description',
          content: 'Cosmic Life - браузерная онлайн стратегия, кликер'
        },
        {
          property: 'og:title',
          content: 'Cosmic Life | Game'
        },
        {
          property: 'og:site_name',
          content: 'CosmicLife'
        },
        {
          property: 'og:description',
          content: 'Cosmic Life - браузерная онлайн стратегия, кликер'
        },
        {
          property: 'og:type',
          content: 'website'
        },
        {
          property: 'og:url',
          content: 'https://cosmiclife.ru'
        },
        {
          property: 'og:image',
          content: 'https://cosmiclife.ru/cosmiclife.jpg'
        },
        {
          name: 'robots',
          content: 'index,follow'
        }
      ]
    }
  },
  layout: 'gameLayout'
}
</script>

<style scoped></style>
