<template>
  <div class="main-content">
    <div class="container">
      <div class="content-block">
        <h2>
          1. ОСНОВНЫЕ ПОНЯТИЯ
        </h2>
        <p>
          <strong>Сайт</strong>&nbsp;&ndash; сайт, расположенный в сети Интернет
          по адресу: cosmiclife.ru
        </p>
        <p>
          <strong>Администрация Сайта</strong>&nbsp;&ndash; Владелец интернет
          ресурса.
        </p>
        <p>
          <strong>Пользователь</strong>&nbsp;&ndash; физическое или юридическое
          лицо, разместившее свою персональную информацию посредством Формы
          обратной связи на сайте с последующей целью передачи
          данных&nbsp;&nbsp;Администрации Сайта.
        </p>
        <p>
          <strong>Форма обратной связи</strong>&nbsp;&ndash; специальная форма,
          где Пользователь размещает свою персональную информацию с целью
          передачи данных&nbsp;&nbsp;Администрации Сайта.
        </p>
        <h2>2. ОБЩИЕ ПОЛОЖЕНИЯ</h2>
        <p>
          2.1. Настоящая Политика конфиденциальности является официальным
          типовым документом Администрации Сайта и определяет порядок обработки
          и защиты информации о физических и юридических лицах, использующих
          Форму обратной связи на Сайте.
        </p>
        <p>
          2.2. Целью настоящей Политики конфиденциальности является обеспечение
          надлежащей защиты информации о Пользователе, в т.ч. его персональных
          данных от несанкционированного доступа и разглашения.
        </p>
        <p>
          2.3. Отношения, связанные со сбором, хранением, распространением и
          защитой информации о пользователях регулируются настоящей Политикой
          конфиденциальности и действующим законодательством Российской
          Федерации.
        </p>
        <p>
          2.4. Действующая редакция Политики конфиденциальности, является
          публичным документом, разработана Администрацией Сайта и доступна
          любому Пользователю сети Интернет при переходе по гипертекстовой
          ссылке &laquo;Политика конфиденциальности&raquo;.
        </p>
        <p>
          2.5. Администрация Сайта вправе вносить изменения в настоящую Политику
          конфиденциальности.
        </p>
        <p>
          2.6. При внесении изменений в Политику конфиденциальности,
          Администрация Сайта уведомляет об этом Пользователя путём размещения
          новой редакции Политики конфиденциальности на Сайте: cosmiclife.ru
        </p>
        <p>
          2.7. При размещении новой редакции Политики конфиденциальности на
          Сайте, предыдущая редакция хранятся в архиве документации
          Администрации Сайта.
        </p>
        <p>
          2.8. Используя Форму обратной связи, Пользователь выражает свое
          согласие с условиями настоящей Политики конфиденциальности.
        </p>
        <p>
          2.9. Администрация Сайта не проверяет достоверность получаемой
          (собираемой) информации о Пользователе.
        </p>
        <p>
          2.10. На сайте могут содержаться ссылки на другие сайты. Сайт не несет
          ответственности за содержание, качество и политику безопасности этих
          сайтов. Данное заявление о конфиденциальности относится только к
          информации, размещенной непосредственно на сайте.
        </p>
        <h2>
          3. УСЛОВИЯ И ЦЕЛИ СБОРА И ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ ПОЛЬЗОВАТЕЛЕЙ
        </h2>
        <p>
          3.1. Персональные данные Пользователя такие как: имя, фамилия,
          отчество, e-mail, телефон, skype и др., передаются
          Пользователем&nbsp;Администрации Сайта с согласия
          Пользователя.&nbsp;&nbsp;
        </p>
        <p>
          3.2. Передача персональных данных Пользователем Администрации Сайта
          через Форму обратной связи&nbsp;означает согласие Пользователя на
          передачу его персональных данных. Предоставляя свои персональные
          данные, Пользователь даёт согласие на обработку, хранение и
          использование своих персональных данных на основании ФЗ № 152-ФЗ
          &laquo;О персональных данных&raquo;от 27.07.2006 г.
        </p>
        <p>
          3.3. Администрация Сайта осуществляет обработку информации о
          Пользователе, в т.ч. его персональных данных, таких как: имя, фамилия,
          отчество, e-mail, телефон, skype и др., а также дополнительной
          информации о Пользователе, предоставляемой им по своему желанию:
          организация, город, должность и др. в целях выполнения обязательств
          перед Пользователем Сайта.
        </p>
        <p>
          3.4. Обработка персональных данных осуществляется на основе
          принципов:&nbsp;
        </p>
        <ul>
          <li>
            законности целей и способов обработки персональных данных и
            добросовестности;&nbsp;
          </li>
          <li>
            соответствия целей обработки персональных данных целям, заранее
            определенным и заявленным при сборе персональных данных;&nbsp;
          </li>
          <li>
            соответствия объёма и характера обрабатываемых персональных данных
            способам обработки персональных данных и целям обработки
            персональных данных;&nbsp;
          </li>
          <li>
            недопустимости объединения созданных для несовместимых между собой
            целей баз данных, содержащих персональные данные.
          </li>
        </ul>
        <p>
          3.5. Администрация Сайта осуществляет обработку персональных данных
          Пользователя с его согласия в целях оказания услуг/продажи товаров,
          предлагаемых на Сайте, предоставления информации, осуществления
          рассылок.
        </p>
        <h2>4. ХРАНЕНИЕ И ИСПОЛЬЗОВАНИЕ ПЕРСОНАЛЬНЫХ ДАННЫХ</h2>
        <p>
          Персональные данные Пользователя хранятся исключительно на электронных
          носителях и используются строго по назначению, оговоренному в п.3
          настоящей Политики конфиденциальности.
        </p>
        <h2>5. ПЕРЕДАЧА ПЕРСОНАЛЬНЫХ ДАННЫХ</h2>
        <p>
          5.1. Персональные данные Пользователя не передаются каким-либо третьим
          лицам, за исключением случаев, прямо предусмотренных настоящей
          Политикой конфиденциальности.
        </p>
        <p>
          5.2. Сайт использует личную информацию Пользователя в следующих целях:
        </p>
        <p>
          - для обслуживания и для улучшения качества предоставляемых услуг;
        </p>
        <p>
          - осуществление клиентской поддержки;
        </p>
        <p>
          - получения Пользователем информации о маркетинговых событиях
        </p>
        <p>
          - проведения аудита и прочих внутренних исследований с целью повышения
          качества предоставляемых услуг.
        </p>
        <p>
          Часть персональной информации может быть предоставлена стратегическим
          партнерам, которые работают с Администрацией сайта для предоставления
          продуктов и услуг, или тем из них, которые помогают Компании
          реализовывать продукты и услуги потребителям, а также банку или
          платежной системе, в случае, если предоставление этой информации
          обусловлено процедурой перевода средств платежной системе, услугами
          которой Пользователь желает воспользоваться. Сайт прилагает все усилия
          для сбережения в сохранности личных данных Пользователя. Личная
          информация может быть раскрыта в случаях, описанных законодательством,
          либо когда администрация сочтет подобные действия необходимыми для
          соблюдения юридической процедуры, судебного распоряжения или
          легального процесса необходимого для работы Пользователя с Сайтом. В
          других случаях, ни при каких условиях, информация, которую
          Пользователь передает Сайту, не будет раскрыта третьим лицам.
        </p>
        <p>
          5.3. Предоставление персональных данных Пользователя по запросу
          государственных органов, органов местного самоуправления
          осуществляется в порядке, предусмотренном законодательством Российской
          Федерации.
        </p>
        <h2>6. СРОКИ ХРАНЕНИЯ И УНИЧТОЖЕНИЕ ПЕРСОНАЛЬНЫХ ДАННЫХ</h2>
        <p>
          6.1. Персональные данные Пользователя хранятся на электронном носителе
          сайта бессрочно.
        </p>
        <p>
          6.2. Персональные данные Пользователя уничтожаются при желании самого
          пользователя на основании его обращения, либо по инициативе
          Администратора сайта без объяснения причин путём удаления
          Администрацией Сайта информации, размещённой Пользователем.
        </p>
        <h2>7. ПРАВА И ОБЯЗАННОСТИ ПОЛЬЗОВАТЕЛЕЙ</h2>
        <p>
          Пользователи вправе на основании запроса получать от Администрации
          Сайта информацию, касающуюся обработки его персональных данных.
        </p>
        <h2>8. МЕРЫ ПО ЗАЩИТЕ ИНФОРМАЦИИ О ПОЛЬЗОВАТЕЛЯХ</h2>
        <p>
          Администратор Сайта принимает технические и организационно-правовые
          меры в целях обеспечения защиты персональных данных Пользователя от
          неправомерного или случайного доступа к ним, уничтожения, изменения,
          блокирования, копирования, распространения, а также от иных
          неправомерных действий.
        </p>
        <h2>9. ОБРАЩЕНИЯ ПОЛЬЗОВАТЕЛЕЙ</h2>
        <p>
          9.1. Пользователь вправе направлять Администрации Сайта свои запросы,
          в т.ч. относительно использования/удаления его персональных данных,
          предусмотренные п.3 настоящей Политики конфиденциальности в письменной
          форме по адресу, указанному в п.1.
        </p>
        <p>
          9.2. Запрос, направляемый Пользователем, должен содержать следующую
          информацию:
        </p>
        <p>
          <strong>для физического лица:</strong>
        </p>
        <ul>
          <li>
            номер основного документа, удостоверяющего личность Пользователя или
            его представителя;
          </li>
          <li>
            сведения о дате выдачи указанного документа и выдавшем его органе;
          </li>
          <li>
            дату регистрации через Форму обратной связи;
          </li>
          <li>
            текст запроса в свободной форме;
          </li>
          <li>
            подпись Пользователя или его представителя.
          </li>
        </ul>
        <p>
          <strong>для юридического лица:</strong>
        </p>
        <ul>
          <li>
            запрос в свободной форме на фирменном бланке;
          </li>
          <li>
            дата регистрации через Форму обратной связи;
          </li>
          <li>
            запрос должен быть подписан уполномоченным лицом с приложением
            документов, подтверждающих полномочия лица.
          </li>
        </ul>
        <p>
          9.3. Администрация Сайта обязуется рассмотреть и направить ответ на
          поступивший запрос Пользователя в течение 30 рабочих дней с момента
          поступления обращения.
        </p>
        <p>
          9.4. Вся корреспонденция, полученная Администрацией от Пользователя
          (обращения в письменной/электронной форме) относится к информации
          ограниченного доступа и без письменного согласия Пользователя
          разглашению не подлежит. Персональные данные и иная информация о
          Пользователе, направившем запрос, не могут быть без специального
          согласия Пользователя использованы иначе, как для ответа по теме
          полученного запроса или в случаях, прямо предусмотренных
          законодательством.
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'PrivacyPolicy',
  metaInfo() {
    return {
      title: 'Cosmic Life',
      titleTemplate: '%s | Политика конфиденциальности',
      meta: [
        {
          vmid: 'description',
          name: 'description',
          content: 'Cosmic Life - браузерная онлайн стратегия, кликер'
        },
        {
          property: 'og:title',
          content: 'Cosmic Life | Game'
        },
        {
          property: 'og:site_name',
          content: 'CosmicLife'
        },
        {
          property: 'og:description',
          content: 'Cosmic Life - браузерная онлайн стратегия, кликер'
        },
        {
          property: 'og:type',
          content: 'website'
        },
        {
          property: 'og:url',
          content: 'https://cosmiclife.ru'
        },
        {
          property: 'og:image',
          content: 'https://cosmiclife.ru/cosmiclife.jpg'
        },
        {
          name: 'robots',
          content: 'index,follow'
        }
      ]
    }
  },
  layout: 'gameLayout'
}
</script>

<style scoped></style>
