<template>
  <div class="game-block">
    <div class="container">
      <div class="gameblock-cont">
        <div @click.prevent="attack" class="enemy-block-bg">
          <div class="time-block">
            <div class="time-icon">
              <img src="~assets/Images/time-icon.svg?data" />
            </div>
            <div class="time-progres">
              <el-progress
                :text-inside="false"
                :percentage="timer_percent"
                :color="customTimerColor"
                :show-text="false"
              ></el-progress>
            </div>
          </div>
          <div class="enemy-block">
            <img v-if="foe" :src="host + foe.image + '?data'" />
          </div>
          <div>
            <el-progress
              :show-text="false"
              :text-inside="true"
              :color="customEnemyColor"
              :percentage="foe_life_percent"
              type="circle"
              status="exception"
            ></el-progress>
          </div>
        </div>
        <div class="vs-block">VS</div>
        <div class="game-user">
          <div class="game-money">
            <div v-text="avatar.money" class="game-money-inp"></div>
          </div>
          <div class="game-user-block">
            <div class="user-avatar">
              <img
                :src="host + avatar.avatar + '?data'"
                v-if="avatar.avatar"
                @click="avatarModal = true"
              />
            </div>
            <div v-for="(weapon, index) in items">
              <div :class="`wepon-img wepon-img-` + index">
                <i
                  @click="shopModal = true"
                  v-if="showPluse(weapon.price_buy)"
                  class="el-icon-circle-plus pulse pluse_shop"
                ></i>
                <img :src="host + weapon.image" :alt="index" />
              </div>
            </div>
          </div>
          <div class="bot-inputs">
            <div class="bot-inputs-block">
              <div v-text="avatar.attack" class="biblock-inp"></div>
              <div class="biblock-img">
                <img src="~assets/Images/hend.svg" alt="" />
              </div>
            </div>
            <div class="bot-inputs-block">
              <div v-text="avatar.attack_sec" class="biblock-inp"></div>
              <div class="biblock-img">
                <img src="~assets/Images/refresh.svg" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <el-button @click="shopModal = true" class="weponshop-link">
      Магазин
    </el-button>
    <el-button @click="donateModal = true" class="donat-link">
      На кофе
    </el-button>
    <el-dialog :title="`На кофе`" :visible.sync="donateModal">
      <iframe
        src="https://yoomoney.ru/quickpay/fundraise/button?billNumber=YshPCQNzRgo.221228&"
        width="330"
        height="50"
        frameborder="0"
        allowtransparency="true"
        scrolling="no"
      >
      </iframe>
    </el-dialog>
    <el-dialog :title="avatar.money" :visible.sync="shopModal">
      <div v-for="weapon in items">
        <el-row :gutter="20">
          <el-col :span="10">
            <img :src="host + weapon.image" :alt="weapon.title" />
          </el-col>
          <el-col :span="10" style="font-size: 100px">
            {{ weapon.quantity }}
          </el-col>
        </el-row>
        <el-row :gutter="20">
          <el-col :span="3">
            <el-button
              @click="buttonSell(weapon.id)"
              type="danger"
              icon="el-icon-minus"
              circle
            ></el-button>
          </el-col>
          <el-col :span="7">
            {{ weapon.price_sell }}
          </el-col>
          <el-col :span="3">
            <el-button
              @click="buttonBuy(weapon.id)"
              type="success"
              icon="el-icon-plus"
              circle
            ></el-button>
          </el-col>
          <el-col :span="7">
            {{ weapon.price_buy }}
          </el-col>
        </el-row>
      </div>
    </el-dialog>
    <el-dialog :title="avatar.avatar_name" :visible.sync="avatarModal">
      <el-row :gutter="20">
        <el-col :span="10">
          <div class="grid-content bg-purple">Уровень:</div>
        </el-col>
        <el-col :span="10">
          <div v-text="avatar.level" class="grid-content bg-purple"></div>
        </el-col>
      </el-row>
      <el-row :gutter="20">
        <el-col :span="10">
          <div class="grid-content bg-purple">Врагов убито:</div>
        </el-col>
        <el-col :span="10">
          <div v-text="avatar.total_kill" class="grid-content bg-purple"></div>
        </el-col>
      </el-row>
      <el-row :gutter="20">
        <el-col :span="10">
          <div class="grid-content bg-purple">Деньги:</div>
        </el-col>
        <el-col :span="10">
          <div v-text="avatar.money" class="grid-content bg-purple"></div>
        </el-col>
      </el-row>
      <el-row :gutter="20">
        <el-col :span="10">
          <div class="grid-content bg-purple">Урон за клик:</div>
        </el-col>
        <el-col :span="10">
          <div v-text="avatar.attack" class="grid-content bg-purple"></div>
        </el-col>
      </el-row>
      <el-row :gutter="20">
        <el-col :span="10">
          <div class="grid-content bg-purple">Урон в секунду:</div>
        </el-col>
        <el-col :span="10">
          <div v-text="avatar.attack_sec" class="grid-content bg-purple"></div>
        </el-col>
      </el-row>
      <el-row :gutter="20">
        <el-col :span="20">
          <div class="grid-content bg-purple">Ачивки:</div>
        </el-col>
      </el-row>
      <div v-for="achiev in avatar.achievemets">
        <el-row :gutter="20">
          <el-col :span="10" :offset="10">
            <div v-text="achiev.title" class="grid-content bg-purple"></div>
          </el-col>
        </el-row>
      </div>
    </el-dialog>
  </div>
</template>

<script>
export default {
  metaInfo() {
    return {
      title: 'Cosmic Life',
      titleTemplate: '%s | Браузерная игра',
      meta: [
        {
          vmid: 'description',
          name: 'description',
          content: 'Cosmic Life - браузерная онлайн игра: стратегия, кликер'
        },
        {
          property: 'og:title',
          content: 'Cosmic Life | Браузерная игра'
        },
        {
          property: 'og:site_name',
          content: 'Cosmic Life | Браузерная игра'
        },
        {
          property: 'og:description',
          content: 'Cosmic Life - браузерная онлайн игра: стратегия, кликер'
        },
        {
          property: 'og:type',
          content: 'website'
        },
        {
          property: 'og:url',
          content: 'https://cosmiclife.ru'
        },
        {
          property: 'og:image',
          content: 'https://cosmiclife.ru/cosmiclife.jpg'
        },
        {
          name: 'robots',
          content: 'index,follow'
        }
      ]
    }
  },
  name: 'Game',
  data() {
    return {
      customEnemyColor: '#e29da6',
      customTimerColor: '#67C23A',
      avatar: [],
      items: [],
      foe: null,
      foe_life: null,
      foe_life_percent: 100,
      timer: 2,
      timer_percent: 100,
      item: 1,
      shopModal: false,
      donateModal: false,
      avatarModal: false,
      achieveModal: false,
      click: 0,
      open: false,
      host: process.env.REMOTE_HOST,
      intervalTimer: null
    }
  },
  mounted() {
    this.connect()
    this.avatarInfo()
    this.startGame()
  },
  destroyed() {
    this.setTime()
  },
  methods: {
    connect() {
      this.$options.sockets.onmessage = (resp) => {
        const respData = JSON.parse(resp.data)
        if (respData.status === 'success') {
          this.avatar = respData.avatar
          if (respData.ranking) {
            this.$store.commit('SET_RANKING', respData.ranking)
          }
          this.$store.commit('SET_ACHIEVES', this.avatar)
          this.foe = this.avatar.foes[0]
          this.foe_life = this.foe.life
          this.foe_life_percent = 100
          this.items = this.avatar.items
          this.timer = 30
          this.timer_percent = 100
          this.click = 0
          if (respData.message === 'victory') {
            this.success_message()
          }
        } else {
          if (respData.message === 'not victory') {
            this.error_message()
          }
          setTimeout(() => {
            const me = {
              action: 'me',
              avatar_id: this.$store.state.gameId
            }
            this.$socket.sendObj(me)
          }, 10)
        }
      }
    },
    avatarInfo() {
      setTimeout(() => {
        if (!this.$store.state.gameId) {
          this.$router.replace('/')
        }
        const me = {
          action: 'me',
          avatar_id: this.$store.state.gameId
        }
        this.$socket.sendObj(me)
      }, 100)
    },
    showPluse(val) {
      if (
        parseInt(val.replace(/\s/g, '')) <=
        parseInt(this.avatar.money.replace(/\s/g, ''))
      ) {
        return true
      }
      return false
    },
    startGame() {
      this.intervalTimer = setInterval(() => {
        if (this.timer === 0) {
          this.timer_percent = 0
          this.victory('end timer')
        } else {
          this.timer_percent = parseInt((this.timer / 30) * 100)
        }
        this.info_message(this.avatar.attack_sec)
        this.timer = this.timer - 1
        this.foe_life = this.foe_life - this.avatar.attack_sec
        let per = (this.foe_life / this.foe.life) * 100
        if (per <= 0) {
          per = 0
        }
        this.foe_life_percent = parseInt(per)
        if (this.foe_life <= 0) {
          this.victory('attack sec')
        }
      }, 1000)
    },
    victory(fun) {
      const victory = {
        action: 'victory',
        avatar_id: this.$store.state.gameId,
        data: {
          foe_id: this.foe.id,
          timer: this.timer,
          click: this.click
        }
      }
      this.$socket.sendObj(victory)
    },
    attack() {
      this.click = this.click + 1
      this.foe_life = this.foe_life - this.avatar.attack
      let per = (this.foe_life / this.foe.life) * 100
      if (per <= 0) {
        per = 0
      }
      this.foe_life_percent = parseInt(per)
      if (this.foe_life <= 0) {
        this.victory('attack')
      }
    },
    error_message() {
      this.$message.error('Противник не был побежден!')
    },
    success_message() {
      this.$message.success('Противник был побежден!')
    },
    info_message(val) {
      // this.$message.info('Бах ' + String(val))
    },
    setTime() {
      clearInterval(this.intervalTimer)
      this.timer = 30
    },
    buttonSell(id) {
      const sell = {
        action: 'shop',
        avatar_id: this.$store.state.gameId,
        data: {
          item_id: id,
          act: 'sell'
        }
      }
      this.$socket.sendObj(sell)
    },
    buttonBuy(id) {
      const buy = {
        action: 'shop',
        avatar_id: this.$store.state.gameId,
        data: {
          item_id: id,
          act: 'buy'
        }
      }
      this.$socket.sendObj(buy)
    }
  }
}
</script>
