<template>
  <div class="header-right">
    <Achievement />
    <el-dropdown @command="handleCommand">
      <div class="menu-icon"></div>
      <el-dropdown-menu slot="dropdown">
        <el-dropdown-item v-if="ranking" command="ranking">
          Рейтинг
        </el-dropdown-item>
        <el-dropdown-item command="contacts">
          Контакты
        </el-dropdown-item>
        <el-dropdown-item command="privacyPolicy">
          Политика конфиденциальности
        </el-dropdown-item>
      </el-dropdown-menu>
    </el-dropdown>
    <el-dialog :visible.sync="modalRanking" title="Рейтинг">
      <el-row
        :gutter="20"
        v-for="(rank, index) in ranking"
        :key="`ranking-vin-` + index"
      >
        <el-col v-if="rank.id === avatarRank.id" :span="2">
          <i class="el-icon-medal"></i>
        </el-col>
        <el-col v-else :span="2">&nbsp;</el-col>
        <el-col :span="4" v-text="rank.level"></el-col>
        <el-col :span="14" v-text="rank.avatar_name"></el-col>
      </el-row>
    </el-dialog>
  </div>
</template>

<script>
import Achievement from '../Achievement/Achievement'
export default {
  name: 'Navigation',
  components: { Achievement },
  data() {
    return {
      modalRanking: false
    }
  },
  computed: {
    ranking() {
      return this.$store.state.ranking?.list
    },
    avatarRank() {
      if (this.$store.state.ranking) {
        return this.$store.state.ranking.me
      }
      return null
    }
  },
  mounted() {
    setTimeout(() => {
      if (this.$store.state.game) {
        this.auth = this.$store.state.game.account
      }
      const ranking = {
        action: 'ranking',
        avatar_id: this.$store.state.gameId
      }
      this.$socket.sendObj(ranking)
    }, 100)
  },
  methods: {
    handleCommand(command) {
      if (command === 'contacts') {
        this.$router.push('/contacts/')
      }
      if (command === 'privacyPolicy') {
        this.$router.push('/privacy-policy/')
      }
      if (command === 'ranking') {
        const ranking = {
          action: 'ranking',
          avatar_id: this.$store.state.gameId
        }
        this.$socket.sendObj(ranking)
        this.modalRanking = true
      }
    },
    async login() {
      const valid = await this.$refs.form.validate()
      if (!valid) {
        return
      }
      this.loading = true
      // await this.simulateLogin()
      const params = {
        username: this.form.username,
        password: this.form.password
      }
      this.requestSignInAPI(params)
        .then((data) => {
          this.loading = false
          this.$message.success('Вы вошли')
          if (data.avatar_id) {
            this.dialogSigninForm = false
            this.$store.commit('SET_ID', { avatar_id: data.avatar_id })
            this.$store.commit('SET_GAME', { account: data.account })
            this.auth = true
            this.$router.push('/game/')
          }
        })
        .catch((err) => {
          this.loading = false
          this.$message.error(err)
        })
    }
  }
}
</script>

<style scoped></style>
