<template>
  <div class="main-content">
    <div class="container">
      <div v-if="players" class="main-slider slick-slider">
        <el-carousel
          :interval="4000"
          :loop="true"
          :autoplay="false"
          @change="selectAvatar"
          type="card"
          indicator-position="none"
          arrow="always"
        >
          <el-carousel-item v-for="item in players" :key="item.id">
            <div class="main-avatar">
              <img :src="item.image + '?data'" />
            </div>
          </el-carousel-item>
        </el-carousel>
      </div>
      <div class="generetegame-block">
        <div class="gengame-block">{{ avatarName }}</div>
        <el-button @click="genUserName" type="text">
          <img
            src="~assets/Images/refresh.svg?data"
            class="block block-center"
          />
        </el-button>
      </div>
      <el-button @click="startGame" type="text" class="start-game">
        Начать игру
      </el-button>
    </div>
  </div>
</template>

<script>
export default {
  metaInfo() {
    return {
      title: 'Cosmic Life',
      titleTemplate: '%s | Браузерная игра',
      meta: [
        {
          vmid: 'description',
          name: 'description',
          content: 'Cosmic Life - браузерная онлайн игра: стратегия, кликер'
        },
        {
          property: 'og:title',
          content: 'Cosmic Life | Браузерная игра'
        },
        {
          property: 'og:site_name',
          content: 'Cosmic Life | Браузерная игра'
        },
        {
          property: 'og:description',
          content: 'Cosmic Life - браузерная онлайн игра: стратегия, кликер'
        },
        {
          property: 'og:type',
          content: 'website'
        },
        {
          property: 'og:url',
          content: 'https://cosmiclife.ru'
        },
        {
          property: 'og:image',
          content: 'https://cosmiclife.ru/cosmiclife.jpg'
        },
        {
          name: 'robots',
          content: 'index,follow'
        }
      ]
    }
  },
  data() {
    return {
      avatarSelector: null,
      avatarName: '',
      players: []
    }
  },
  beforeMount() {
    window.requestAnimationFrame(() => {
      if (this.$store.state.gameId) {
        this.requestActuailizeMeAPI(this.$store.state.gameId)
          .then((data) => {
            this.$store.commit('SET_GAME', data)
            this.$router.replace('/game/')
          })
          .catch((err) => {
            console.log(err)
          })
      }
    })
  },
  mounted() {
    // window.addEventListener('resize', this.myEventHandler)
    this.requestPlayerListAPI()
      .then((e) => {
        this.players = e
        this.avatarSelector = this.players[0].id
      })
      .catch((err) => {
        console.log(err)
      })
    this.genUserName()
  },
  destroyed() {
    // window.removeEventListener('resize', this.myEventHandler)
    const element = document.getElementById('circleDynamic')
    if (element) element.parentNode.removeChild(element)
  },
  methods: {
    genUserName() {
      this.requestPlayerNameAPI()
        .then((data) => {
          this.avatarName = data.avatar_name
        })
        .catch((err) => {
          console.log(err)
        })
    },
    // myEventHandler(e) {
    //   this.showCircle(this.getWidth() / 2, this.getHeight() / 2, 120)
    // },
    // getWidth() {
    //   return Math.max(
    //     document.body.scrollWidth,
    //     document.documentElement.scrollWidth,
    //     document.body.offsetWidth,
    //     document.documentElement.offsetWidth,
    //     document.documentElement.clientWidth
    //   )
    // },
    //
    // getHeight() {
    //   return Math.max(
    //     document.body.scrollHeight,
    //     document.documentElement.scrollHeight,
    //     document.body.offsetHeight,
    //     document.documentElement.offsetHeight,
    //     document.documentElement.clientHeight
    //   )
    // },
    startGame() {
      this.requestStartAPI({
        avatar_name: this.avatarName,
        hero: this.avatarSelector
      })
        .then((data) => {
          this.$store.commit('SET_ID', data)
          this.$router.replace('/game/')
        })
        .catch((err) => {
          console.log(err)
        })
    },

    selectAvatar(e) {
      // this.showCircle(this.getWidth() / 2, this.getHeight() / 2, 120)
      this.avatarSelector = this.players[e].id
    }
    // showCircle(cx, cy, radius) {
    //   const element = document.getElementById('circleDynamic')
    //   if (element) element.parentNode.removeChild(element)
    //
    //   const div = document.createElement('div')
    //   div.style.position = 'absolute'
    //   div.style.zIndex = -1
    //   div.style.width = 0
    //   div.style.height = 0
    //   div.style.left = cx + 'px'
    //   div.style.top = cy + 'px'
    //   div.className = 'circle'
    //   div.id = 'circleDynamic'
    //   document.body.append(div)
    //
    //   setTimeout(() => {
    //     div.style.width = radius * 4 + 'px'
    //     div.style.height = radius * 4 + 'px'
    //   }, 0)
    // }
  }
}
</script>
