html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
	/*font-weight:normal !important;*/

	/*  fix for mac os  */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*,
*:after,
*:before {
	margin: 0;
	padding: 0;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}
ul { list-style: none outside;    }
ol { list-style-position: inside; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
.clear {
  clear: both;
  display: block;}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;}
.clearfix:after {
  clear: both;}

/* ----style-form---*/

::-webkit-input-placeholder { color:#707070;}
:-moz-placeholder { color:#707070;}
.placeholder { color:#707070;}
*:focus::-moz-placeholder { color: transparent !important;}
*[autofocus]::-moz-placeholder:focus { color: graytext !important;}
*:focus:-moz-placeholder { color: transparent !important;}
*[autofocus]:-moz-placeholder:focus { color: graytext !important;}
*:focus::-webkit-input-placeholder { color: transparent !important;}
*[autofocus]::-webkit-input-placeholder { color: graytext !important;}

html,body{
	height:100%;
}
body{
	min-width:320px;
  font-family: 'Montserrat', sans-serif;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}
a{
	transition:0.3s;
}
a:hover{ text-decoration:none;}
img{max-width: 100%;}
input,textarea{
	outline:none !important;
}
#__nuxt {
    min-width:340px;
    overflow: hidden;
    background: url(../Images/fight-bg.jpg) no-repeat center center;
    background-size: cover;
    min-height: 100%;
}
.wrapper{

}
.container{
    max-width: 1180px;
    padding: 0 15px;
    margin: 0 auto;
}

.header{
    padding: 54px 0 0 0;
}
.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.site-logo{
    width: 100%;
    max-width: 296px;
}

.header-right{
    position: relative;
    display: flex;
    justify-content: space-between;
    min-width: 100px;
    max-width: 100px;
    align-items: center;
}
.user-link{

}
.menu-icon{
	width:40px;
	height:24px;
	border-top:4px #FFF solid;
	position:relative;
	cursor:pointer;
	z-index:25;
}
.menu-icon:after{
	content:"";
	display:block;
	width:100%;
	height:4px;
	background:#FFF;
	position:absolute;
	top:8px;
	cursor:pointer;
}
.menu-icon:before{
	content:"";
	display:block;
	width:100%;
	height:4px;
	background:#FFF;
	position:absolute;
	top:20px;
	cursor:pointer;
}
.menu-icon-open{border:none;}
.menu-icon-open:after{transform: rotate(-45deg);top:15px;}
.menu-icon-open:before{transform: rotate(45deg);top:15px;}


.game-block{
    padding: 40px 0 0 0;
}
.gameblock-cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.vs-block{
    color: #9779CA;
    font-weight: 900;
    font-size: 50px;
    line-height: 61px;
    width: 100px;
    text-align: center;
    height: 100px;
    line-height: 100px;
    border-radius: 50px;
    background: #FFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    order: 2;
}
.enemy-block-bg{
    max-width: 474px;
    position: relative;
    order: 3;
    cursor:  crosshair;
}
.enemy-block{
    background: url(../Images/enemy-bg.svg) no-repeat center top;
    background-size: cover;
    width: 100%;
    max-width: 474px;
    height: 474px;
    position: absolute;
    top: 125px;
    left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px;
}
.enemy-block img {
  width: 100%;
}
.el-progress-circle{
    width:560px !important;
    height: auto !important;
}
.el-progress-circle svg path{stroke:#e29da6 !important;}
.el-progress-circle svg path:first-child{stroke:#e6e6e6 !important;}
.time-block{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}
.time-icon{
    min-width: 36px;
    max-width: 36px;
    margin: 0 15px 0 0;
}
.time-progres{
    width: 100%;
    box-shadow: -2px 5px 13px rgba(0,0,0,0.5);
}
.time-progres .el-progress-bar__outer{
    height: 40px !important;
    border-radius: 0px !important;
    background: #e6e6e6 !important;
}
.time-progres .el-progress-bar__inner{
    /*background: #cccccc !important;*/
    border-radius: 0px !important;
}


.game-user{
    width: 445px;
    padding: 0px 0 0 0;
    order: 1;
}
.game-money{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.game-money-inp{
    background: url(../Images/money-input.svg) no-repeat center center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    width: 230px;
    height: 39px;
    line-height: 39px;
    border-radius: 7px;
    padding: 2px 10px 0 15px;
    font-weight: 700;
    color: #e29da6;
    font-size: 18px;
}
.game-money-icon{margin-left: 13px;}

.game-user-block{
    position: relative;
    height: 347px;
    margin: 50px 0 0 0;
}
.user-avatar{
    background: url(../Images/gameuser-bg.png) no-repeat;
    width: 247px;
    height: 255px;
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 35px;
}
.user-avatar img{display: block;margin: 0 auto;}
.wepon-img{
    position: absolute;
    background: url(../Images/wepon-bg.png) no-repeat center center;
    width: 93px;
    height: 96px;
    padding: 10px 15px 20px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wepon-img-0{
    left: 30px;
    top: -20px;
}
.wepon-img-1{
    left: 0px;
    top: 80px;
}
.wepon-img-2{
    left: 30px;
    top: 185px;
}
.wepon-img-3{
    left: 120px;
    top: 250px;
}
.wepon-img-4{
    left: 230px;
    top: 250px;
}
.wepon-img-5{
    right: 30px;
    top: 185px;
}
.wepon-img-6{
    right: 0px;
    top: 80px;
}
.wepon-img-7{
    right: 30px;
    top: -20px;
}

.bot-inputs{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bot-inputs-block{
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0 0 0;
}
.biblock-inp{
    background: url(../Images/inputs-bot.svg) no-repeat center center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    width: 148px;
    height: 25px;
    line-height: 25px;
    border-radius: 4px;
    font-weight: 700;
    color: #e29da6;
    font-size: 14px;
    padding: 0 10px 0 7px;
}
.biblock-img{
    margin: 0 0 0 10px;
}


.weponshop-link{
    position: absolute;
    left: -127px;
    top: 43%;
    font-weight: 900;
    font-size: 29px;
    text-decoration: none;
    font-weight: 700;
    width: 320px;
    text-align: center;
    background: #2ecc51;
    color: #FFF;
    padding: 12px 0px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    transform: rotate(-90deg);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.weponshop-link span{
    display: block;
    text-decoration: none;
}
.donat-link{
    position: absolute;
    right: -127px;
    top: 43%;
    font-weight: 900;
    font-size: 29px;
    text-decoration: none;
    width: 320px;
    text-align: center;
    background: #f5c445;
    color: #FFF;
    padding: 12px 0px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    transform: rotate(-90deg);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.donat-link span{
    display: block;
    text-decoration: none;
}

.wepon-table{
    width: 990px;
    padding: 0px;
    border-radius: 0 0 25px 25px;
    overflow: hidden;
}
.wepon-table-top{
    min-height: 60px;
    background: #DBC9F9;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 25px;
}
.wepon-table-cont{
    padding: 25px 25px 25px 25px;

}
.wepon-table-tbl{
    overflow: auto;
    max-height: 250px;
}
.wepon-table-cont table{
    width: 100%;
    border-spacing: 10px 10px;
}
.wepon-table-cont table tr th{
    color: #979696;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 0px;
    text-align: center;
}
.wepon-table-cont table tr th:nth-child(1){width: 18%;}
.wepon-table-cont table tr th:nth-child(2){width: 25%;}
.wepon-table-cont table tr th:nth-child(3){width: 25%;}
.wepon-table-cont table tr th:nth-child(4){width: 32%;}
.wepon-table-cont table tr td{
    border: 1px solid #000000;

}
.wepon-table-cont table tr td{padding: 5px 15px;}

.wepon-table-cont table tr td:nth-child(1) img{max-width: 80px;display: block;margin: 0 auto;}

.weapon-num{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.weapon-num input{
    width: 30px;
    height: 36px;
    text-align: center;
    padding: 0 5px;
    border: #000 solid 1px;
    font-size: 18px;
    border: none;
    background: none;
}
.weapon-num .number{
    display: flex;
    align-items: center;
}
.weapon-num .minus{
    font-size: 26px;
    font-weight: 700;
    width: 30px;
    text-align: center;
    cursor: pointer;
}
.weapon-num .plus{
    font-size: 26px;
    font-weight: 700;
    width: 30px;
    text-align: center;
    cursor: pointer;
}

.donat-block{
    background: #FFF;
    width: 480px;
    padding: 25px 0px;
}
.donat-btn{
    font-size: 18px;
    height: 38px;
    line-height: 38px;
    text-decoration: none;
    font-weight: 700;
    width: 180px;
    text-align: center;
    background: #DBC9F9;
    color: #FFF;
    display: block;
    margin: 0 auto;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
}



.login-link{
    padding: 5px 0 0 0;
}
.header-right-main {
    min-width: 220px;
    max-width: 220px;
}

.main-content{
    padding: 80px 0 25px 0;
}

.main-slider{
    position: relative;
    /*padding: 0px 300px 0px 300px;*/
}

.main-avatar{
    margin: 0 200px;
    position: relative;
    padding: 100px 0;
    transition: 0.3s;
}
.main-avatar:after{
    content: "";
    width: 80%;
    height: 40%;
    background: #FFF;
    position: absolute;
    display: block;
    top: 30%;
    left: 10%;
    border-radius: 100%;
}
.main-avatar img{max-width: 100%; position: relative; z-index: 5;}
.main-slider .el-carousel__arrow{
    width: 50px;
    height: 43px;
    cursor: pointer;
    outline: none !important;
    position: absolute;
    text-indent: -99999px;
    z-index: 15;
    border: none;
    top: 200px;
}
.main-slider .el-carousel__arrow--left{
    background: url(../Images/prev.svg) no-repeat;
    left: 0px;
}
.main-slider .el-carousel__arrow--right{
    background: url(../Images/next.svg) no-repeat;
    right: 0px;
}
.main-slider .is-in-stage{
    transform: scale(2);

}
.main-slider .slick-center .main-avatar:after{display: none;}
.main-slider .el-carousel__mask{
  display: none;
}

.generetegame-block{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0 0 60px;
}
.generetegame-block img{
    width: 50px;
    margin-left: 20px;
}
.gengame-block{
    width: 100%;
    max-width: 382px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../Images/generete-game.png) no-repeat;
    color: #000000;
    font-size: 17px;
    text-decoration: none;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
.start-game{
    width: 100%;
    max-width: 320px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../Images/start-game.png) no-repeat;
    color: #FFF;
    text-align: center;
    font-weight: 900;
    font-size: 29px;
    margin: 25px auto 0 auto;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
     border-radius: 10px;
}

.el-dialog{
    width: 420px;
    border-radius: 10px;
    overflow: hidden;
    padding: 0px;
}
.el-dialog__header{
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    padding: 10px 8px;
    background: #DBC9F9;
    letter-spacing: 2px;
}

.el-dialog__headerbtn{
    position: absolute;
    top: 4px;
    right: 4px;
    padding: 0;
    margin: 0;
    width: 30px;
    height: 30px;
    font: 21px/1 Arial,Helvetica Neue,Helvetica,sans-serif;
    color: #888;
    font-weight: 300;
    text-align: center;
    border-radius: 50%;
    border-width: 0;
    cursor: pointer;
    background: #fff;
    transition: background .2s;
    box-sizing: border-box;
    z-index: 2;
}

.el-dialog__body{
    padding: 25px 15px;
}
.a-hidden{
    position: absolute;
}
.lbform-cont input[type="text"]{

}
.el-button--primary{
    background: #cd1b20;
    color: #FFF;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 2px;
}
.content-block{
    border-radius: 10px;
    background: #FFF;
    padding: 35px 15px;
    line-height: normal;
}
.content-block h1{
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 15px;
    text-align: center;
}
.content-block h2{
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 10px;
    text-align: center;
}
.content-block h3{
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 5px;
    text-align: center;
    font-weight: 400;
}
.content-block p{
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 24px;
}
.content-block ul{
    margin: 0 0 15px 20px;
    list-style: disc;
    line-height: 24px;
}
.content-block ul li{padding-bottom: 8px;}








@media screen and (max-width: 1340px) {
    .game-block{zoom:0.9;}
    .donat-link{
        left: inherit;
        position: relative;
        display: block;
        margin: 25px auto 25px auto;
        width: 320px;
        border-radius: 5px;
        transform: rotate(0deg);
    }
    .donat-link span{display: inline;margin: 0px !important;}
    .weponshop-link{
        left: inherit;
        position: relative;
        display: block;
        margin: 25px auto 25px auto;
        width: 320px;
        border-radius: 5px;
        transform: rotate(0deg);
    }
    .weponshop-link span{display: inline;margin: 0px !important;}
}

@media screen and (max-width: 1200px) {
    .game-block{zoom:0.75;}
}

@media screen and (max-width: 992px) {
    .wepon-table{width: 99%;}
    .enemy-block-bg{margin: 0 auto;}
    .enemy-block{max-width: 400px;height: 400px;top: 115px;left: 36px;}
    .el-progress-circle{width: 476px !important;}
    .game-block{zoom:0.85;}
    .gameblock-cont{
        display: block;
    }
    .vs-block{margin: 30px auto 45px auto;}
    .game-user{margin: 0 auto;}
    .main-avatar:after{display: none;}
    .main-avatar{padding: 70px 10px 70px 10px;margin:0px 40px;}

}

@media screen and (max-width: 768px) {
    .donat-block{width: 99%;max-width: 480px;}

    .wepon-table-cont{padding: 25px 25px 25px 5px;}
    .wepon-table-tbl table{min-width: 480px;}

    .wepon-table-cont table tr td{padding: 5px 5px;}
    .main-slider .slick-center .main-avatar{    transform: scale(1);}
    .main-slider .slick-arrow{top: 44%;}
    .main-avatar{padding: 20px 10px 20px 10px;margin:0px;}
}

@media screen and (max-width: 680px) {

    .site-logo{max-width: 200px;}
    .biblock-inp{font-size: 12px;}
    .wepon-table-cont{zoom:0.75;}
    .header-right-main{min-width: 160px;   max-width: 160px;position: relative;top: -2px;}
    .login-link{font-size: 18px; }
    .gengame-block,.start-game{font-size: 20px;background-size: cover;background-position: center center;}
    .gengame-block{}
    .generetegame-block img{margin-left: 10px;margin-right: 10px;}
}

@media screen and (max-width: 540px) {
    .generetegame-block{padding: 20px 0 0 0px;}
    .litebox-form{width: 99%;}
}

@media screen and (max-width: 440px) {
    .game-block{zoom:0.75;}
    .wepon-table-cont{zoom:0.65;}
    .wepon-table-cont table tr td{font-size: 24px;}
    .wepon-table-cont table tr td input{font-size: 24px;}
    .weapon-num .plus,.weapon-num .minus{font-size: 30px;}
    .site-logo{max-width: 180px;}
    .header-right-main{min-width: 145px;   max-width: 145px;}
    .login-link{}
}
@media screen and (max-width: 395px) {
    .game-block{zoom:0.65;}
    .site-logo{max-width: 150px;}
}

.pulse {
  color: #ffffff;
  font-size: 50px;
  animation: pulse-animation 1.5s infinite ease-out;
}

@keyframes pulse-animation {
  20% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  70% {
    transform: scale(0.65);
  }
  100% {
    transform: scale(0);
  }
}

.pluse_shop {
  color: #67C23A;
  position: absolute;
}

/* SOCIAL */
.share-btns {
    display: flex;
    flex-wrap: wrap;
}

.share-btns a {
    margin-bottom: 5px;
    width: 40px;
    height: 40px;
}

.share-btns a:not(:last-child) {
    margin-right: 5px;
}

.share-btns a.share-network-facebook {
    background: url("../UI/share-btns.png") no-repeat left top;
}

.share-btns a.share-network-vk {
    background: url("../UI/share-btns.png") no-repeat -168px top;
}

.share-btns a.share-network-odnoklassniki {
    background: url("../UI/share-btns.png") no-repeat -126px top;
}

.share-btns a.share-network-twitter {
    background: url("../UI/share-btns.png") no-repeat -42px top;
}

.share-btns a.share-network-pinterest {
    background: url("../UI/share-btns.png") no-repeat -210px top;
}

.share-btns a.share-network-email {
    background: url("../UI/share-btns.png") no-repeat -294px top;
}

.share-btns a.share-network-telegram {
    background: url("../UI/share-btns.png") no-repeat -672px top;
}
