<template>
  <div>
    <el-button
      v-if="isNewAchievement"
      @click="initAchievements"
      type="text"
      class="login-link"
    >
      <i class="el-icon-medal pulse"></i>
    </el-button>
    <el-dialog
      :title="achieve.title"
      :visible.sync="achieveModal"
      :before-close="achieves"
      center
    >
      <el-row :gutter="20">
        <el-col :span="20">
          <h1 v-text="achieve.description"></h1>
        </el-col>
      </el-row>
      <el-row :gutter="20">
        <el-col :span="20">
          <h2>Награда: {{ achieve.bonus }}</h2>
        </el-col>
      </el-row>
      <el-row :gutter="20">
        <el-col :span="20">
          <div class="share-btns">
            <ShareNetwork
              :title="achieve.title"
              :description="achieve.description"
              network="vk"
              url="https://cosmiclife.ru"
              hashtags="game, cosmiclife"
            >
            </ShareNetwork>
            <ShareNetwork
              :title="achieve.title"
              :description="achieve.description"
              network="facebook"
              hashtags="game, cosmiclife"
              url="https://cosmiclife.ru"
            >
            </ShareNetwork>
            <ShareNetwork
              :title="achieve.title"
              :description="achieve.description"
              network="odnoklassniki"
              url="https://cosmiclife.ru"
              hashtags="game, cosmiclife"
            >
            </ShareNetwork>
            <ShareNetwork
              :title="achieve.title"
              :description="achieve.description"
              network="telegram"
              url="https://cosmiclife.ru"
              hashtags="game, cosmiclife"
            >
            </ShareNetwork>
            <ShareNetwork
              :title="achieve.title"
              :description="achieve.description"
              network="twitter"
              url="https://cosmiclife.ru"
              hashtags="game, cosmiclife"
            >
            </ShareNetwork>
            <ShareNetwork
              :title="achieve.title"
              :description="achieve.description"
              network="email"
              url="https://cosmiclife.ru"
              hashtags="game, cosmiclife"
            >
            </ShareNetwork>
          </div>
        </el-col>
      </el-row>
      <span slot="footer" class="dialog-footer">
        <el-button @click="achieves">OK</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
export default {
  name: 'Achievement',
  data() {
    return {
      avatar: {
        achievemets: [],
        new_achievemets: []
      },
      achieve: {},
      achieveModal: false
    }
  },
  computed: {
    isNewAchievement() {
      if (this.$store.state.newAchieves.length) {
        return true
      } else {
        return false
      }
    }
  },
  mounted() {
    this.achieves()
  },
  methods: {
    initAchievements() {
      this.achieveModal = true
      this.avatar.achievemets = this.$store.state.achieves
      this.avatar.new_achievemets = this.$store.state.newAchieves
      const newAchieves = []
      const achieves = []
      for (let i = 0; i < this.avatar.new_achievemets.length; i++) {
        newAchieves.push(this.avatar.new_achievemets[i].id)
      }
      for (let i = 0; i < this.avatar.achievemets.length; i++) {
        achieves.push(this.avatar.achievemets[i].id)
      }
      if (!this.test(newAchieves, achieves)) {
        for (let i = 0; i < this.avatar.new_achievemets.length; i++) {
          const find = this.avatar.achievemets.indexOf(
            this.avatar.new_achievemets[i].id
          )
          if (find === -1) {
            this.achieveModal = true
            this.achieve = this.avatar.new_achievemets[i]
            break
          }
        }
      }
    },
    test(arr, arr2) {
      if (arr.length !== arr2.length) return false
      let on = 0
      for (let i = 0; i < arr.length; i++) {
        for (let j = 0; j < arr2.length; j++) {
          if (arr[i] === arr2[j]) {
            on++
            break
          }
        }
      }
      if (on === arr.length) return true
      return false
    },
    achieves() {
      this.achieveModal = false
      if (this.achieve.id) {
        const response = {
          action: 'achieve',
          avatar_id: this.$store.state.gameId,
          data: this.achieve
        }
        this.$socket.sendObj(response)
        this.achieve = {}
        this.achieve.title = ''
        this.achieve.description = ''
      }
    }
  }
}
</script>

<style scoped></style>
