<template>
  <div class="wrapper">
    <div class="header">
      <div class="container">
        <div class="header-content">
          <a href="/"><img src="~assets/UI/logo.png" class="site-logo"/></a>
          <Navigation />
        </div>
      </div>
    </div>
    <nuxt />
  </div>
</template>
<script>
import Navigation from '~/components/Navigation/Navigation'
export default {
  components: {
    Navigation
  },
  data() {
    return {}
  },
  methods: {}
}
</script>
